.directory-outer{
    margin: auto;
    width: 50%;
    
}
.user-row{
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    gap: 10px;
}
.user-card{
    border: 2px solid ;
    border-radius: 10px;
    padding: 20px;
    display: flex;
   justify-content: space-between;
   background-color: rgb(148, 184, 197);
   
}
.link{
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
    text-decoration: none;
    color:#000;
    font-weight: 500;
}
.link p {
    margin: 0;
}
/* User Details CSS: */

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    margin:auto;
    width: 90%;
    font-weight: 500;
}
.post-content-list{
    margin: auto;
    width: 91%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    text-align: center;
}
.post-content{
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    width: 300px;
    /* height: 200px;
    overflow:auto; */
}
.btn-back{
    background-color: rgb(148, 184, 197);
    border: 2px solid;
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: 500;
    width: 60px;
}
.select-country{
    padding: 5px;
    border-radius: 5px;
    border: 2px solid;
    width: 200px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}
.clock_div{
    border: 1px solid rgb(148, 184, 197);
    padding: 5px;
    border-radius: 5px;
    background: rgb(148, 184, 197);
    width: 90px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
}
.resume-btn{
    background-color: lightgreen;
    border: 1px solid lightgreen;
    border-radius: 5px;
}

.resume-btn, .select-country, .btn-back{
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .link{
       display: flex;
       flex-direction: column;
       gap: 10px;
    }
    .row{
        display: flex;
        flex-direction: column;
    }
    .content2{
        width: 100%;
    }
   
}